In [48]:
import pandas as pd
from sklearn.neighbors              import KNeighborsClassifier
from sklearn.model_selection        import train_test_split
from sklearn.linear_model           import LinearRegression
from sklearn                        import preprocessing
from sklearn                        import utils

In [81]:
# Read data file
df = pd.read_csv(".\\data\\merged_data_small_set.csv", ",")

# Remove white spaces from data
print("Removing white space...")
df.columns = df.columns.str.replace(' ','')
print("Removing white space... Done")

# drop the rows with NaN
print("Dropping rows with NaN values...")
df = df.dropna()
print("Dropping rows with NaN values... Done")

# Set the data types
print("Setting data types...")
df.DTG = pd.to_datetime(df.DTG)
df.LOCATION = df.LOCATION.astype('str')
df.NAME = df.NAME.astype('str')
df.LATITUDE = df.LATITUDE.astype('float64')
df.LONGITUDE = df.LONGITUDE.astype('float64')
df.ALTITUDE = df.ALTITUDE.astype('float64')
df.P_NAP_MSL_10 = df.P_NAP_MSL_10.astype('float64')
df.P_STN_LEVEL_10 = df.P_STN_LEVEL_10.astype('float64')
df.P_SENSOR_10 = df.P_SENSOR_10.astype('int64')
df.VV_10 = df.VV_10.astype('int64')
df.WW_IND_CURR_10 = df.WW_IND_CURR_10.astype('int64')
df.WW_IND_PAST_10_10 = df.WW_IND_PAST_10_10.astype('int64')
df.WW_CURR_10 = df.WW_CURR_10.astype('int64')
df.WW_PAST_10 = df.WW_PAST_10.astype('int64')
df.AH_10 = df.AH_10.astype('int64')
df.MOR_10 = df.MOR_10.astype('int64')
print("Setting data types... Done")

Removing white space...
Removing white space... Done
Dropping rows with NaN values...
Dropping rows with NaN values... Done
Setting data types...
Setting data types... Done

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4301 entries, 0 to 4319
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DTG                4301 non-null   datetime64[ns]
 1   LOCATION           4301 non-null   object
 2   NAME               4301 non-null   object
 3   LATITUDE           4301 non-null   float64
 4   LONGITUDE          4301 non-null   float64
 5   ALTITUDE           4301 non-null   float64
 6   P_NAP_MSL_10       4301 non-null   float64
 7   P_STN_LEVEL_10     4301 non-null   float64
 8   P_SENSOR_10        4301 non-null   int64
 9   VV_10              4301 non-null   int64
 10  WW_IND_CURR_10     4301 non-null   int64
 11  WW_IND_PAST_10_10  4301 non-null   int64
 12  WW_CURR_10         4301 non-null   int64
 13  WW_PAST_10         4301 non-null   int64
 14  AH_10              4301 non-null   int64
 15  MOR_10             4301 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(8), object(2)
memory usage: 571.2+ KB

In [83]:
df.isnull().sum()

DTG                  0
LOCATION             0
NAME                 0
LATITUDE             0
LONGITUDE            0
ALTITUDE             0
P_NAP_MSL_10         0
P_STN_LEVEL_10       0
P_SENSOR_10          0
VV_10                0
WW_IND_CURR_10       0
WW_IND_PAST_10_10    0
WW_CURR_10           0
WW_PAST_10           0
AH_10                0
MOR_10               0
dtype: int64

In [84]:
df.head()

,DTG,LOCATION,NAME,LATITUDE,LONGITUDE,ALTITUDE,P_NAP_MSL_10,P_STN_LEVEL_10,P_SENSOR_10,VV_10,WW_IND_CURR_10,WW_IND_PAST_10_10,WW_CURR_10,WW_PAST_10,AH_10,MOR_10
0,2003-04-01 00:10:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1022.638,1022.388,1022,7380,0,0,10,10,5,7380
1,2003-04-01 00:20:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1022.637,1022.387,1022,6630,0,0,10,10,5,6630
2,2003-04-01 00:30:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1022.538,1022.288,1022,3700,1,0,10,10,5,3700
3,2003-04-01 00:40:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1022.438,1022.188,1022,4040,1,1,10,10,5,4040
4,2003-04-01 00:50:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1022.438,1022.188,1022,4280,1,1,10,10,5,4280

In [85]:
df.tail()

,DTG,LOCATION,NAME,LATITUDE,LONGITUDE,ALTITUDE,P_NAP_MSL_10,P_STN_LEVEL_10,P_SENSOR_10,VV_10,WW_IND_CURR_10,WW_IND_PAST_10_10,WW_CURR_10,WW_PAST_10,AH_10,MOR_10
4315,2003-04-30 23:20:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1010.723,1010.481,1010,11200,0,0,1,1,5,11200
4316,2003-04-30 23:30:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1010.823,1010.581,1010,12500,0,0,1,1,5,12500
4317,2003-04-30 23:40:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1010.824,1010.582,1010,12500,0,0,3,1,5,12500
4318,2003-04-30 23:50:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1010.824,1010.582,1010,12300,0,0,3,3,5,12300
4319,2003-05-01 00:00:00,260_A_a,De Bilt locatie A,52.098889,5.179722,1.9,1010.924,1010.682,1010,13600,0,0,3,3,5,13600

In [86]:
df.corr()

,LATITUDE,LONGITUDE,ALTITUDE,P_NAP_MSL_10,P_STN_LEVEL_10,P_SENSOR_10,VV_10,WW_IND_CURR_10,WW_IND_PAST_10_10,WW_CURR_10,WW_PAST_10,AH_10,MOR_10
LATITUDE,1.000000e+00,-1.000000e+00,1.000000e+00,-4.832899e-15,-7.268755e-14,5.967910e-15,6.864467e-15,5.778156e-16,-4.644141e-15,-8.445710e-15,-7.397154e-15,1.264586e-15,-3.017182e-15
LONGITUDE,-1.000000e+00,1.000000e+00,-1.000000e+00,5.781249e-15,7.678961e-14,2.342122e-14,-1.840457e-14,-3.947729e-15,-4.755874e-15,-3.396513e-15,1.199531e-15,-1.582758e-15,-2.134059e-14
ALTITUDE,1.000000e+00,-1.000000e+00,1.000000e+00,-5.148679e-15,-7.755412e-14,-6.415538e-16,1.751753e-15,-6.552068e-15,4.048549e-15,4.886022e-15,4.170436e-15,-1.724716e-15,8.081954e-16
P_NAP_MSL_10,-4.832899e-15,5.781249e-15,-5.148679e-15,1.000000e+00,9.999999e-01,9.994201e-01,1.840632e-01,-3.137562e-01,-3.150074e-01,-3.849263e-01,-3.853625e-01,-7.014784e-02,1.839717e-01
P_STN_LEVEL_10,-7.268755e-14,7.678961e-14,-7.755412e-14,9.999999e-01,1.000000e+00,9.994198e-01,1.839556e-01,-3.137637e-01,-3.150158e-01,-3.849421e-01,-3.853786e-01,-7.012008e-02,1.838643e-01
P_SENSOR_10,5.967910e-15,2.342122e-14,-6.415538e-16,9.994201e-01,9.994198e-01,1.000000e+00,1.836612e-01,-3.134994e-01,-3.144177e-01,-3.850187e-01,-3.852079e-01,-7.020266e-02,1.835668e-01
VV_10,6.864467e-15,-1.840457e-14,1.751753e-15,1.840632e-01,1.839556e-01,1.836612e-01,1.000000e+00,-2.606512e-01,-2.477735e-01,-2.998729e-01,-2.901500e-01,1.273902e-01,9.999863e-01
WW_IND_CURR_10,5.778156e-16,-3.947729e-15,-6.552068e-15,-3.137562e-01,-3.137637e-01,-3.134994e-01,-2.606512e-01,1.000000e+00,7.335452e-01,9.480405e-01,7.247844e-01,-1.451940e-01,-2.610498e-01
WW_IND_PAST_10_10,-4.644141e-15,-4.755874e-15,4.048549e-15,-3.150074e-01,-3.150158e-01,-3.144177e-01,-2.477735e-01,7.335452e-01,1.000000e+00,7.570951e-01,9.482971e-01,-1.360175e-01,-2.481755e-01
WW_CURR_10,-8.445710e-15,-3.396513e-15,4.886022e-15,-3.849263e-01,-3.849421e-01,-3.850187e-01,-2.998729e-01,9.480405e-01,7.570951e-01,1.000000e+00,8.248218e-01,-1.501206e-01,-3.002356e-01
WW_PAST_10,-7.397154e-15,1.199531e-15,4.170436e-15,-3.853625e-01,-3.853786e-01,-3.852079e-01,-2.901500e-01,7.247844e-01,9.482971e-01,8.248218e-01,1.000000e+00,-1.397069e-01,-2.905149e-01
AH_10,1.264586e-15,-1.582758e-15,-1.724716e-15,-7.014784e-02,-7.012008e-02,-7.020266e-02,1.273902e-01,-1.451940e-01,-1.360175e-01,-1.501206e-01,-1.397069e-01,1.000000e+00,1.279771e-01
MOR_10,-3.017182e-15,-2.134059e-14,8.081954e-16,1.839717e-01,1.838643e-01,1.835668e-01,9.999863e-01,-2.610498e-01,-2.481755e-01,-3.002356e-01,-2.905149e-01,1.279771e-01,1.000000e+00

In [87]:
# LOCATION = identifier, NAME = identifier, LATITUDE in degrees (WGS84), LONGITUDE in degrees (WGS84), ALTITUDE in 0.1 m relative to Mean Sea Level (MSL)
# P_NAP_MSL_10 is luchtdruk herleid naar msl of nap 10' eenheid hPa
# P_STN_LEVEL_10 is luchtdruk herleid naar stationshoogte 10' eenheid hPa
# P_SENSOR_10 is luchtdruk sensorhoogte 10' eenheid hPa
# VV_10 is zicht gemiddeld 10' eenheid m
# WW_IND_CURR_10 is weer indicator verleden weer 10' eenheid code
# WW_IND_PAST_10_10 is weer indicator verleden weer voorgaande 10' 10' eenheid code
# WW_CURR_10 is weer code present weather sensor 10' eenheid code
# WW_PAST_10 is weer code voorgaande 10' 10' eenheid code
# AH_10 is zicht helderheid achtergrond 10' eenheid Candela
# MOR_10 is zicht meteorologisch dagzicht 10' eenheid m

X = df[['P_NAP_MSL_10', 'VV_10', 'WW_PAST_10', 'AH_10', 'MOR_10']]
y = df[['WW_CURR_10']]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2)

In [88]:
kncl = KNeighborsClassifier(n_neighbors=3)
kncl.fit(X_train,y_train.values.ravel())

KNeighborsClassifier(n_neighbors=3)

In [89]:
kncl.score(X_test,y_test)

0.389082462253194

In [90]:
kncl.predict([[1050.0, 300, 0, 5, 4000]])

# Voor de betekenis van de weercode, zie pagina 177 van https://cdn.knmi.nl/knmi/pdf/bibliotheek/knmipubDIV/handboekwaarnemingen.pdf
# De codes slaan op het horizontaal zicht aan het aardoppervlak (code vs. km)

array([81], dtype=int64)